<h1><%= t 'brand.name' %></h1>
<h2><%= t 'brand.subtitle' %></h2>
<p>
<%= t 'brand.description' %>
</p>

Metas:
<ul>
<li>
Coloquei listagem, criação e edição de metas na página da edição de mobilização;
</li>
<li>
Incluir partial das metas assim: <i>  </i>
</li>
<li>
Descobrir bug no controlador "home_controller", não sei pq a view não acha a variavel "@metas"
</li>
<li>
Colocar função pra deletar meta
</li>
</ul>



<% unless Rails.env.production? %>

<% end %>
